<section ng-controller='MusicCtrl as mc' id="content" role="content" layout="column" layout-padding md-scroll-y>
    <md-content class="md-whiteframe-z2" ng-cloak>
        <md-content>
            <md-input-container class="md-block">
                <label>Search song</label>
                <input id="search_song" ng-model="search_song" type="text" my-enter="searchMusic(search_song)">
            </md-input-container>
        </md-content>
        <md-list flex>
            <md-list-item ng-repeat="song in songs" ng-click="playSong(song)" class="noright md-3-line">
                <div class="md-list-item-text" layout="column">

                    <div ng-switch="which_service">
                        <div ng-switch-when="vk">
                            <h4>{{ song.title }}</h4>
                            <h3>{{ song.artist }}</h3>
                            <p>{{ song.duration | secondsToDateTime | date:'HH:mm:ss'}}</p>
                        </div>
                        <div ng-switch-when="youtube">
                            <h4>{{ song.snippet.title }}</h4></div>
                    </div>


                </div>
                <div class="layout-row" layout="row">
                    <a>
                        <md-icon ng-click="playSong(song)"> play_arrow </md-icon>
                    </a>
                    <a>
                        <md-icon ng-click="downloadSong(song)"> cloud_download </md-icon>
                    </a>
                    <a>
                        <md-icon ng-click="playlistSong(song)"> playlist_add </md-icon>
                    </a>
                </div>
            </md-list-item>



        </md-list>
    </md-content>
</section>